player-connection-mode=Listen
player-connection-guid=3054336475
player-connection-debug=0
player-connection-project-name=DataMosh
player-connection-ip=10.35.38.160
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ffe64f3404d04e959c724ed6edf98693
